.main{
  max-width: 800px;
  padding: 30px 50px;
}

.main .row{
  padding: 15px 15px; margin: 10px 0px;
  background-color: transparent;
  /* background-image: linear-gradient(45deg, rgb(71,79,182) 0%,rgb(90,159,171) 40%); */
  background-color: rgb(195,212,217);
  /* background-color: rgba(255,255,255,0.8); */
  box-shadow: 0 4px 12px 4px rgba(255,255,255,0.3);
  /* box-shadow: 0 4px 12px 0 #deecdd; */
  border-radius: 3px;
  opacity: 1;
}

.main .row-check{
  background-image: unset;
  opacity: 0.7;
  background-color: rgba(229,235,239,1);
  box-shadow: 0 4px 12px 0 rgba(200,200,200,0.3);
}


/* The custom checkbox container */
.container {
    display: block;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute; top: 0; left: 0;
    width: 18px; height: 18px;
    border: solid 1px #fff; border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgba(255,255,255,0.3);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #ccc;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff; border-width: 0 2px 2px 0; border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  .container .remove{
    color: #aaa; 
    text-decoration: line-through;
  }